<!DOCTYPE html>

<html>

  <head>
    <title>Tumblr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>

  <body>
  
<nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><b>Tumblr.</b></a>
        </div>
       
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><%=link_to "Home", :root %></li>
            <li class="active"><%=link_to "Posts", :posts %></li>
            <li><%=link_to "About", :about %></li>
          </ul>
        <%if user_signed_in? %>
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item dropdown"><a>You have logged in as: 
               <b> <%=current_user.name%> </b>
            </li></a>    
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= image_tag  "profile.jpg", size: "20x20", class: "profile-image img-circle"%> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                  <li align="center">
                    <a href="#" >Profile</a>
                    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>   
                  </li>
              </ul>
            </li>         
          </ul> 
        </div>
        <%else%>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item dropdown">
              <b><%= link_to('Login', new_user_session_path, method: :get) %>  </b>
            </li>
        </ul>
        <%end%>
      </div>
        
  </nav>

  <header id="header">
      <div class="container">
        <div class="row">
          <div class="col-md-10">
           
            </div>
          </div>
        </div>
    </header>


<section id="main">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="list-group">
              <%= link_to "<span class=\"glyphicon glyphicon-cog\" aria-hidden=\"true\"></span> Home".html_safe, root_path('messages'),class: "list-group-item active main-color-bg" %>
              <%= link_to "<span class=\"glyphicon glyphicon-list-alt\" aria-hidden=\"true\"></span> Posts<span class=\"badge\">#{Post.count}</span>".html_safe, posts_path('messages'),class: "list-group-item" %>
              <a href="posts.html" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> About</span> <span class="badge">2</span></a>
              <a href="users.html" class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Users</span><span class="badge">10</span></a>
            </div>
          </div>
          <div class="col-md-9">
               <%= yield %>
          </div>
        </div>
      </div>
</section>

<footer id="footer">
      <p>Copy right: Chakkappan &copy 2020</p>
</footer>


</body>

</html>



